/* CSS styles for 'image-gallery' */  

body {
    margin: 0px;
}

.container {
    display: flex;    /* this is how to activate Flexbox */
    flex-wrap: wrap;  /* wraps photos to window size */
    justify-content: center;  /* centers images */
}

header {
    padding-top: 20px;
}

h1 { 
    width: 100%;
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 450px;
    text-align: center;
    -moz-box-shadow: 4px 4px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888;
    box-shadow: 4px 4px 5px #888888;  /* horiz vert blur [spread] color */
    margin: 10px;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 0.6s;   /* image tranistions are 1 second */
}

img:hover {
    transform: scale(1.07);
}